@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #0ea5e9 #545454ab;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #0ea5e9;
  padding: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #545454ab;
}

/* ul {
  -webkit-mask-image: linear-gradient(to bottom, black, transparent 99%);

  mask-image: linear-gradient(to bottom, black, transparent 99%);
} */
